{% from 'bootstrap5/nav.html' import render_nav_item %}

<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}

        

        <title>Your page title</title>
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-nav mr-auto">
                {{ render_nav_item('index', 'Home') }}
                {{ render_nav_item('index', 'Explore') }}
                {{ render_nav_item('index', 'About') }}
            </div>
        </nav>

        <!-- Your page content -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 js-main-content">
                    {% block content %}{% endblock %}
                </div>
                <div class="col-2 js-sidebar bg-dark sidebar">
                    <div class="btn-group p-1 w-100 bg-dark flex-column">
                        {% block blocks %}{% endblock blocks %}
                    </div>
                </div>
            </div>
        </div>
        

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>